﻿@model ModelLibrary.Recharge
@{
    ViewBag.Title = "RechargeReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        @@media(min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 15%;
            }
        }
    </style>
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-recycle"></i>  Rechange
                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(p => p.Filter.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(p => p.Filter.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(p => p.Filter.OrderId, new { @class = "form-control", placeholder = "Order Id" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(p => p.Filter.TrackId, new { @class = "form-control", placeholder = "Track Id" })
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                @Html.DropDownListFor(model => model.Filter.TransType, new SelectList(new List<Object>{
                                                         new { value = "" , text = "All" },
                                                        new { value = "mobile" , text = "Mobile" },
                                                        new { value = "dth" , text = "DTH"},
                                                        new { value = "electricity" , text = "Electricity"},
                                                         new { value = "landline" , text = "Landline" },
                                                        new { value = "insurance" , text = "Insurance"},
                                                        new { value = "gas" , text = "Gas"},
                                                        new { value = "broadband" , text = "Broadband"},
                                                        new { value = "water" , text = "Wwater"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.DropDownListFor(model => model.Filter.Status, new SelectList(new List<Object>{
                                                         new { value = "" , text = "Select Status" },
                                                        new { value = "successful" , text = "Success" },
                                                        new { value = "under process" , text = "Under Process"},
                                                        new { value = "failed" , text = "Failed"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()">
                                                    SEARCH
                                                </button>
                                                @*PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Report
                                <span class="tools pull-right">
                                    <button style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th class="sticky-header">Order Id</th>
                                            <th>Txn. Date</th>
                                            <th>TrackID</th>
                                            <th>Number</th>
                                            <th>Amount</th>
                                            <th>Service</th>
                                            <th>Operator Name</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a style="color: #ef6c00;">1211122154032ULZRD</a></td>
                                            <td>11/22/2021 3:40:35 PM</td>
                                            <td>ADA4728276</td>
                                            <td>9555266308</td>
                                            <td>1763</td>
                                            <td>ELECTRICITY</td>
                                            <td>Uttarakhand Power Corporation Limited</td>
                                            <td>Success</td>
                                            <td><a class="">Print</a></td>
                                        </tr>
                                        <tr>
                                            <td><a style="color: #ef6c00;">1211122154032ULZRD</a></td>
                                            <td>11/22/2021 3:40:35 PM</td>
                                            <td>ADA4728276</td>
                                            <td>9555266308</td>
                                            <td>1763</td>
                                            <td>ELECTRICITY</td>
                                            <td>Uttarakhand Power Corporation Limited</td>
                                            <td>Success</td>
                                            <td><a class="">Print</a></td>
                                        </tr>
                                        <tr>
                                            <td><a style="color: #ef6c00;">1211122154032ULZRD</a></td>
                                            <td>11/22/2021 3:40:35 PM</td>
                                            <td>ADA4728276</td>
                                            <td>9555266308</td>
                                            <td>1763</td>
                                            <td>ELECTRICITY</td>
                                            <td>Uttarakhand Power Corporation Limited</td>
                                            <td>Success</td>
                                            <td><a class="">Print</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
}