﻿.paging-nav {
    /*text-align: right;*/
    padding-top: 20px;
}

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #5b6167;
            color: white;
            border-radius: 3px;
            font-size: 15px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav {
        width: 100%;
        /*margin: 0 auto;*/
        text-align:center;
    }

        .paging-nav a {
            font-size: 14px;
            text-decoration: none;
            transition: background 250ms;
            display: inline-block;
            text-transform: uppercase;
            margin: 0 3px 6px;
            height: 31px;
            min-width: 31px;
            border-radius: 26px;
            border: 2px solid #fff;
            line-height: 30px;
            padding: 0;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.03em;
        }