﻿@model ModelLibrary.BusHoldPnr

@{
    ViewBag.Title = "BusRefundReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@{
    ViewBag.Title = "BusReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-airplane-alt"></i> Bus Hold Pnr Report
                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterFromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterPnr, new { @class = "form-control", placeholder = "PNR" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterOrderId, new { @class = "form-control", placeholder = "Orderid" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterSource, new { @class = "form-control", placeholder = "Source" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterDestination, new { @class = "form-control", placeholder = "Destination" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterTicketNo, new { @class = "form-control", placeholder = "Ticket Number" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterBusOperator, new { @class = "form-control", placeholder = "Bus Operator" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DropDownListFor(m => m.Filter.FilterExecid, Model.ExecutiveList, "Select Executive", new { @class = "form-control " })
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnSubmit" class="btn btn-success form-control" value="search" onclick="return CheckForm()">Search</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnReset" class="btn btn-danger form-control" value="reset" onclick="return ResetFilter()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>Report
                                <span class="tools pull-right">
                                    <button style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow: scroll; max-height: 600px;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>

                                            <th class="sticky-header">Ticket No</th>
                                            <th>Journey Date</th>
                                            <th>Order Id</th>
                                            <th>Agent Id</th>
                                            <th>Trip Id</th>
                                            <th>Destination</th>
                                            <th>Bus Operator</th>
                                            <th>Seat No</th>
                                            <th>Net Fare</th>
                                            <th>Pnr</th>
                                            <th>Booking Status</th>
                                            <th>Created Date</th>
                                            <th>Payment Mode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TotalCount > 0)
                                        {
                                            foreach (var item in Model.BusHoldPnrList)
                                            {
                                                <tr>
                                                    <td class="sticky-row"><a href="#" target="_blank">@item.TICKETNO</a></td>
                                                    <td>@item.JOURNEYDATE</td>
                                                    <td>@item.ORDERID</td>
                                                    <td>@item.AGENTID</td>
                                                    <td>@item.TRIPID</td>
                                                    <td>@item.DESTINATION</td>
                                                    <td>@item.BUSOPERATOR</td>
                                                    <td>@item.SEATNO</td>
                                                    <td>@item.TA_NET_FARE</td>
                                                    <td>@item.PNR</td>
                                                    <td>@item.BOOKINGSTATUS</td>
                                                    <td>@item.CREATEDDATE</td>
                                                    <td>@item.PaymentMode</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center">
                                                <td colspan="13"><span class="text-danger">Record not found !</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script>
        CheckForm = () => { $("#btnSubmit").html("Searching...<i class='fa fa-spinner fa-pulse'></i>"); }
        ResetFilter = () => { $("#btnReset").html("Resetting...<i class='fa fa-spinner fa-pulse'></i>"); }
    </script>
}

