﻿@model ModelLibrary.BusModel

@{
    ViewBag.Title = "BusReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        @@media(min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 15%;
            }
        }

        label {
            font-weight: bold;
        }
    </style>
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-airplane-alt"></i> Bus Report List

                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterFromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterPnr, new { @class = "form-control", placeholder = "PNR" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterOrderId, new { @class = "form-control", placeholder = "Orderid" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterSource, new { @class = "form-control", placeholder = "Source" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterDestination, new { @class = "form-control", placeholder = "Destination" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterTicketNo, new { @class = "form-control", placeholder = "Ticket Number" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterBusOperator, new { @class = "form-control", placeholder = "Bus Operator" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DropDownListFor(model => model.Filter.FilterStatus, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Select Trip Type--" },
                                                        new { value = "Booked" , text = "Booked" },
                                                        new { value = "Cancelled" , text = "Cancelled"},
                                                        new { value = "Hold" , text = "Hold" },
                                                        new { value = "Request" , text = "Request"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnSubmit" class="btn btn-success form-control" value="search" onclick="return CheckForm()">Search</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnReset" class="btn btn-danger form-control" value="reset" onclick="return ResetFilter()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Report
                                <span class="tools pull-right">
                                    <button style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow: scroll; max-height: 600px;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>

                                            <th class="sticky-header">Order Id</th>
                                            <th>Journey Date</th>
                                            <th>Trip Id</th>
                                            <th>Source</th>
                                            <th>Destination</th>
                                            <th>Bus Operator</th>
                                            <th>Seat No</th>
                                            <th>Fare</th>
                                            <th>Ticket No</th>
                                            <th>Pnr</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Payment Mode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TotalCount > 0)
                                        {
                                            foreach (var item in Model.BusList)
                                            {
                                                <tr>
                                                    <td class="sticky-row">
                                                        <span style="color: #ef6c00;cursor:pointer; " onclick="GetBusSummary('@item.ORDERID', '')">@item.ORDERID</span>
                                                        @*<button type="button" class="btn btn-info btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#BusSummary">Click</button>*@
                                                    </td>
                                                    <td>@item.JOURNEYDATE</td>
                                                    <td>@item.TRIPID</td>
                                                    <td>@item.SOURCE</td>
                                                    <td>@item.DESTINATION</td>
                                                    <td>@item.BUSOPERATOR</td>
                                                    <td>@item.SEATNO</td>
                                                    <td>@item.FARE</td>
                                                    <td>@item.TICKETNO</td>
                                                    <td>@item.PNR</td>
                                                    @if (item.BOOKINGSTATUS.Trim() == "Request")
                                                    {
                                                        <td><span class="text-primary font-weight-bold">@item.BOOKINGSTATUS</span></td>
                                                    }
                                                    else if (item.BOOKINGSTATUS.Trim() == "Booked")
                                                    {
                                                        <td><span class="text-success font-weight-bold">@item.BOOKINGSTATUS</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item.BOOKINGSTATUS</td>
                                                    }
                                                    <td>@item.CREATEDDATE</td>
                                                    <td>@item.PaymentMode</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center">
                                                <td colspan="13"><span class="text-danger">Record not found !</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" id="btnBusSummaryClick" style="display:none;" data-toggle="modal" data-target="#BusSummary"></button>
<div class="modal fade bd-example-modal-lg" id="BusSummary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="modelContentBody">
        <div class="modal-content">
            <div class="modal-header" id="modelBusHeading">
                @*<div class="col-sm-4">
                        <img src="https://www.richatravels.in/BS/images/seatseller_logo.jpg" />
                    </div>
                    <div class="col-sm-7" style="text-align:right;">
                        <ul style="list-style-type: none; text-align: right; line-height: 20px;">
                            <li>
                                <h5 style="margin:0;">NUTAN BOOKING ZONE</h5>
                            </li>
                            <li>Shop no.31,Surat</li>
                            <li>Gujarat,India</li>
                            <li>9737879793/9737879793</li>
                        </ul>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -60px -18px 0px 0px; font-size: 40px; color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@                
            </div>
            <div class="modal-body" id="BusBodyContent">
                @*<div class="row form-group">
                        <div class="col-sm-3 " style="border-right: 2px solid #ccc;">
                            <label>Surat - Junagadh</label>
                            <p>(19 /11/ 2021)</p>
                        </div>
                        <div class="col-sm-3 " style="border-right: 2px solid #ccc;">
                            <label>Bus Operator</label>
                            <p>Raghav Travels (71575)</p>
                            <input id="Crd_Limit" name="Crd_Limit" type="hidden" value="500.0000">
                        </div>
                        <div class="col-sm-2" style="border-right: 2px solid #ccc;">
                            <label>Pnr Number</label>
                            <p>128939827</p>
                            <input id="AgentLimit" name="AgentLimit" type="hidden" value="0.0000">
                        </div>
                        <div class="col-sm-2 " style="border-right: 2px solid #ccc;">
                            <label>Ticket Number</label>
                            <p>C6U7J69G</p>
                            <input id="DueAmount" name="DueAmount" type="hidden" value="0.0000">
                        </div>
                        <div class="col-sm-2 ">
                            <label>Total Fare</label>
                            <p>₹ 70000</p>
                            <input id="DueAmount" name="DueAmount" type="hidden" value="0.0000">
                        </div>
                    </div>
                    <div class="row form-group">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <td>Sr. No.</td>
                                    <td>Passenger Name</td>
                                    <td>Seat Number</td>
                                    <td>Gender</td>
                                    <td>Contact Number</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>DINESH BHALANI</td>
                                    <td>U23</td>
                                    <td>Male</td>
                                    <td>9879456123</td>
                                    <td>Booked</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row form-group">
                        <br>
                    </div>
                    <div class="row form-group">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <td>Bus Type</td>
                                    <td>Reporting&nbsp;Time</td>
                                    <td>Boarding Point Address</td>
                                    <td>Landmark </td>
                                    <td>Address  </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p>NON A/C Sleeper (2+1)</p></td>
                                    <td><p>05:15 PM</p></td>
                                    <td><p>Matawadi(RaghavTravels)(02612549690) 9979528353,02612549690</p></td>
                                    <td><p>Matawadi(RaghavTravels)(02612549690) 9979528353,02612549690</p></td>
                                    <td><p>Matawadi(RaghavTravels)(02612549690) 9979528353,02612549690</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row form-group">
                        <h5><b>Terms &amp; Conditions :</b></h5>
                    </div>
                    <div class="col-sm-12">
                        <p style="margin-bottom: 0.3rem!important;">1. SeatSeller only a bus ticket agent.It doestn't operate bus services of it's own.</p>
                        <p style="margin-bottom: 0.3rem!important;">2. In order to provide a comprehensive choice of bus operators departure times and prices to customers.</p>
                        <p style="margin-bottom: 0.3rem!important;">3. It has tied up with many bus operators.</p>
                        <p style="margin-bottom: 0.3rem!important;">4. SeatSeller advice to customers is to choice bus operator they are aware of and whose service they are comfortable with.</p>
                    </div>
                    <div class="row form-group">
                        <h5><b>Seat Seller responsible for :</b></h5>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <p style="margin-bottom: 0.3rem!important;">
                                1. Issuing a valid (a ticket that wiil be accepted by the bus operator) for it's network of bus operator.
                            </p>
                            <p style="margin-bottom: 0.3rem!important;">2. Providing refund & support in the event of cancellation.</p>
                            <p style="margin-bottom: 0.3rem!important;">3. Providing customer support and information in case of any delays/inconvenence.</p>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>Cancellation Policy :</b></h5>
                            <p style="margin-bottom: 0.3rem!important;">Between 0 Hrs to 6 Hrs  100%</p>
                            <p style="margin-bottom: 0.3rem!important;">Between 6 Hrs to 24 Hrs  60%</p>
                            <p style="margin-bottom: 0.3rem!important;">Between 24 Hrs to 48 Hrs  50%</p>
                            <p style="margin-bottom: 0.3rem!important;">Before 48 Hrs 15%</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <h5><b>SeatSeller not responsible for :</b></h5>
                    </div>
                    <div class="col-sm-12">
                        <p style="margin-bottom: 0.3rem!important;">1. SeatSeller only a bus ticket agent.It doestn't operate bus services of it's own.</p>
                        <p style="margin-bottom: 0.3rem!important;">2. In order to provide a comprehensive choice of bus operators departure times and prices to customers.</p>
                        <p style="margin-bottom: 0.3rem!important;">3. It has tied up with many bus operators.</p>
                        <p style="margin-bottom: 0.3rem!important;">4. SeatSeller advice to customers is to choice bus operator they are aware of and whose service they are comfortable with.</p>
                    </div>*@
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/bus.js"></script>
    <script>
        CheckForm = () => { $("#btnSubmit").html("Searching...<i class='fa fa-spinner fa-pulse'></i>"); }
        ResetFilter = () => { $("#btnReset").html("Resetting...<i class='fa fa-spinner fa-pulse'></i>"); }
    </script>
}