﻿@model ModelLibrary.BusRefund

@{
    ViewBag.Title = "BusRefundReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@{
    ViewBag.Title = "BusReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}
<div class="col-md-12">
    <div class="x_panel">        
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-airplane-alt"></i> Bus Report List

                            </header>

                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterFromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy", autocomplete = "off" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterPnr, new { @class = "form-control", placeholder = "PNR" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterOrderId, new { @class = "form-control", placeholder = "Orderid" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterSource, new { @class = "form-control", placeholder = "Source" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterDestination, new { @class = "form-control", placeholder = "Destination" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterTicketNo, new { @class = "form-control", placeholder = "Ticket Number" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.Filter.FilterBusOperator, new { @class = "form-control", placeholder = "Bus Operator" })
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DropDownListFor(model => model.Filter.FilterStatus, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Select Trip Type--" },
                                                        new { value = "Booked" , text = "Booked" },
                                                        new { value = "Cancelled" , text = "Cancelled"},
                                                        new { value = "Hold" , text = "Hold" },
                                                        new { value = "Request" , text = "Request"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnSubmit" class="btn btn-success form-control" value="search" onclick="return CheckForm()">Search</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" name="btnvalue" id="btnReset" class="btn btn-danger form-control" value="reset" onclick="return ResetFilter()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>Report
                                <span class="tools pull-right">
                                    <button style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow: scroll; max-height: 600px;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>

                                            <th class="sticky-header">Ticket No</th>
                                            <th>Journey Date</th>
                                            <th>OrderId</th>
                                            <th>Source</th>
                                            <th>Destination</th>
                                            <th>Bus Operator</th>
                                            <th>Seat No</th>
                                            <th>Net Fare</th>
                                            <th>Cancel Charge</th>
                                            <th>Refund Amount</th>
                                            <th>Pnr</th>
                                            <th>Booking Status</th>
                                            <th>Created Date</th>
                                            <th>Payment Mode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TotalCount > 0)
                                        {
                                            foreach (var item in Model.BusRefundList)
                                            {
                                                <tr>
                                                    <td class="sticky-row"><a href="#" target="_blank">@item.TicketNo</a></td>
                                                    <td>@item.JourneyDate</td>
                                                    <td>@item.OrderId</td>
                                                    <td>@item.Source</td>
                                                    <td>@item.Destination</td>
                                                    <td>@item.BusOperator</td>
                                                    <td>@item.SeatNo</td>
                                                    <td>@item.TaNetFare</td>
                                                    <td>@item.CancelCharge</td>
                                                    <td>@item.RefundAmount</td>
                                                    @*<td>@item.TicketNo</td>*@
                                                    <td>@item.Pnr</td>
                                                    @if (item.BookingStatus.Trim() == "Request")
                                                    {
                                                        <td><span class="text-primary font-weight-bold">@item.BookingStatus</span></td>
                                                    }
                                                    else if (item.BookingStatus.Trim() == "Booked")
                                                    {
                                                        <td><span class="text-success font-weight-bold">@item.BookingStatus</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item.BookingStatus</td>
                                                    }
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.PaymentMode</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center">
                                                <td colspan="13"><span class="text-danger">Record not found !</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script>
        CheckForm = () => { $("#btnSubmit").html("Searching...<i class='fa fa-spinner fa-pulse'></i>"); }
        ResetFilter = () => { $("#btnReset").html("Resetting...<i class='fa fa-spinner fa-pulse'></i>"); }
    </script>
}

