﻿.has-error > input, .has-error > select {
    border: 1px solid #fd00007d !important;
}

.has-error > textarea {
    border: 1px solid #fd000052!important;
}

.help-error-block {
    color: #fd00007d !important
}

.close-link {
    background: #26B99A !important;
    color: #fff !important;
}

.required {
    color: #fd0101;
}

#tab-review i {
    color: #fd00007d;
}
/*.help-error-block, .errormessage {color: #ff0500;}
.has-error i {color: #ff0500 !important;}
.has-error .form-control {border-color: #ff0500 !important;}
.has-error .input-group-addon{color: #ff0500 !important;}*/
