﻿@model ModelLibrary.UploadRequest

@{
    ViewBag.Title = "UploadRequest";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <i class="icofont-upload-alt"></i>  Upload Request
                            <span class="tools pull-right">
                                <a href="/backoffice/wallet/upload-report" class="btn btn-success" style="cursor: pointer; margin-top: -6px; color: #fff; line-height: 0; border: none;"><span class="icofont-search-document"></span> Uploaded Report</a>
                            </span>
                        </header>
                        <div class="panel-body" style="padding:15px;">
                            @using (Html.BeginForm())
                            {
                                if (Model.IsShowReqType)
                                {
                                    <div class="form-horizontal form-label-left uploaderequesttypesection" id="UploadeRequestType">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <h4>
                                                    Uploade Request Type :
                                                    @Html.RadioButtonFor(m => m.UploadeRequestType, "CA", new { @checked = true }) &nbsp;Fresh Upload&nbsp;
                                                    @Html.RadioButtonFor(m => m.UploadeRequestType, "AD") &nbsp;Adjustment
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                    </div>
                                }
                                <div class="col-md-12">
                                    @if (TempData["Msg"] != null)
                                    {
                                        <div class="alert alert-success" id="closeMessage">
                                            <span>@TempData["Msg"]</span>
                                        </div>
                                    }
                                </div>
                                <div class="row form-group">
                                    <div style="padding: 0px 10px 0px 20px;">
                                        <label style="color: #fff; background: #727b84; border-color: #6c757d; border-radius: 3px; padding: 5px; line-height: 20px;">
                                            @Html.RadioButtonFor(m => m.PaymentMode, "Cash", new { @onchange = "PaymentModeSelecttion()" })
                                            Cash
                                        </label>
                                    </div>
                                    <div style="padding-right: 10px;">
                                        <label style="color: #fff; background: #727b84; border-color: #6c757d; border-radius: 3px; padding: 5px; line-height: 20px;">
                                            @Html.RadioButtonFor(m => m.PaymentMode, "Cash Deposite In Bank", new {@onchange= "PaymentModeSelecttion()" })
                                            Cash Deposite In Bank
                                        </label>
                                    </div>
                                    <div style="padding-right: 10px;">
                                        <label style="color: #fff; background: #727b84; border-color: #6c757d; border-radius: 3px; padding: 5px; line-height: 20px;">
                                            @Html.RadioButtonFor(m => m.PaymentMode, "Cheque", new { @onchange = "PaymentModeSelecttion()" })
                                            Cheque
                                        </label>
                                    </div>
                                    <div style="padding-right: 10px;">
                                        <label style="color: #fff; background: #727b84; border-color: #6c757d; border-radius: 3px; padding: 5px; line-height: 20px;">
                                            @Html.RadioButtonFor(m => m.PaymentMode, "NetBanking", new { @onchange = "PaymentModeSelecttion()" })
                                            Net Banking
                                        </label>
                                    </div>
                                    <div style="padding-right: 10px;">
                                        <label style="color: #fff; background: #727b84; border-color: #6c757d; border-radius: 3px; padding: 5px; line-height: 20px;">
                                            @Html.RadioButtonFor(m => m.PaymentMode, "RTGS", new { @onchange = "PaymentModeSelecttion()" })
                                            RTGS
                                        </label>
                                    </div>
                                    <div style="padding-right: 10px;">
                                        <label id="PaymentModeError"></label>
                                    </div>
                                </div>
                                <div class="row form-group" style="margin-top: 30px;">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">
                                                    @Html.TextBoxFor(p => p.Amount, new { @class = "form-control ", placeholder = "Amount", @onkeypress = "return isNumberValidationPrevent(event);" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-3">
                                            <div class="item form-group">
                                                <div class="form-group form-validation">

                                                    @Html.DropDownListFor(model => model.PaymentMode, new SelectList(new List<Object>{
                                                           new { value = "0" , text = "Select Payment Mode" },
                                                           new { value = "Cash" , text = "Cash" },
                                                           new { value = "Cash Deposite In Bank" , text = "Cash Deposite In Bank"},
                                                           new { value = "Cheque" , text = "Cheque"},
                                                           new { value = "NetBanking" , text = "NetBanking"},
                                                           new { value = "RTGS" , text = "RTGS"}
                                                        }, "value", "text"), new { @class = "form-control" })
                                                                        </div>
                                                                                </div>
                                                                            </div>*@

                                        <div class="col-sm-2 hidden chequeselectsection">
                                            <div class="item form-group">
                                                <div class="form-group form-validation">
                                                    @Html.TextBoxFor(p => p.ChequeDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden chequeselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.ChequeNumber, new { @class = "form-control", placeholder = "Cheque Number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden chequeselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.BankName, new { @class = "form-control", placeholder = "Bank Name" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden cashdepinbankselectsection chequeselectsection netbankingselectsection rtgsselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.DropDownListFor(m => m.DepositeBank, Model.DepositeBankList, "Select Deposite Bank", new { @class = "form-control ", placeholder = "Deposite Bank" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden dropdepositebank_cashdepinbank_selectsection dropdepositebank_cheque_selectsection dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.DropDownListFor(m => m.DepositeBranch, Model.DepositeBranchList, "Select Deposite Branch", new { @class = "form-control ", placeholder = "Deposite Branch" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden dropdepositebank_cashdepinbank_selectsection dropdepositebank_cheque_selectsection dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.DropDownListFor(m => m.DepositeAccountNo, Model.DepositeAccountNoList, "Select Deposite A/C No.", new { @class = "form-control ", placeholder = "Deposite A/C No." })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">
                                                    @Html.TextBoxFor(p => p.TransactionID, new { @class = "form-control", placeholder = "Transaction ID" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden dropdepositebank_cashdepinbank_selectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.BranchCode, new { @class = "form-control", placeholder = "Branch Code" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden cashselectsection">
                                            <div class="item form-group">
                                                <div class="form-group form-validation">

                                                    @Html.TextBoxFor(p => p.DepositCity, new { @class = "form-control", placeholder = "Deposit City" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden cashselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.DepositDate, new { @class = "form-control CommanDate", placeholder = "Deposuit Date - dd/mm/yyyy" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden cashselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.DropDownListFor(m => m.DepositeOffice, Model.DepositeOfficeList, "Select Deposite Office", new { @class = "form-control ", placeholder = "Deposite Office" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden cashselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.ConcernPerson, new { @class = "form-control", placeholder = "Concern Person" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 hidden cashselectsection">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.ReceiptNumber, new { @class = "form-control", placeholder = "Receipt No." })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.ReferenceNumber, new { @class = "form-control", placeholder = "Reference No." })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="item form-group">
                                                <div class="form-group  form-validation">

                                                    @Html.TextBoxFor(p => p.Remark, new { @class = "form-control", placeholder = "Remark" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 offset-md-3">
                                                <input type="submit" class="btn btn-success pull-right  maincss" style="cursor:pointer;" id="btnUploadRequest" onclick="return UploadRequestSubmit();" value="SUBMIT" />
                                                <span class="btn btn-success pull-right tempscss hidden" style="margin-top:25px">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    @*<br />
                                        <div class="row">
                                            <div class="inliner"></div>
                                            <div class="inlined">
                                                <div class="progress-meter">
                                                    <div class="track">
                                                        <span class="progress"></span>
                                                    </div>
                                                    <ol class="progress-points" data-current="4">
                                                        <li class="progress-point">
                                                            <span class="label">Lorem ipsum</span>
                                                        </li>
                                                        <li class="progress-point">
                                                            <span class="label">Aliquam tincidunt</span>
                                                        </li>
                                                        <li class="progress-point">
                                                            <span class="label">Vestibulum auctor</span>
                                                        </li>
                                                        <li class="progress-point">
                                                            <span class="label">Lorem ipsum</span>
                                                        </li>
                                                        <li class="progress-point">
                                                            <span class="label">Aliquam tincidunt</span>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <div class="controls">
                                                    <button class="trigger">Toggle progress</button>
                                                    <p>Click any point to navigate to it directly</p>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/uploadrequest.js"></script>
    <script src="~/Content/js/progressbar.js"></script>
}
