﻿@model ModelLibrary.DashbordModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .h3, h3 {
        font-size: 16px;
    }

    .tile-stats .count {
        font-size: 35px;
    }

    .tile-stats h3 {
        color: #d3d3d3;
    }

    .viewmore {
        text-align: center;
        /* background: #dddddd; */
        margin-left: 0px !important;
        /* padding: 4px !important; */
        margin-bottom: -5px !important;
        width: 100%;
        display: inline-block;
        text-align: center;
        background: rgba(21, 23, 24, 0.7);
        /* border-radius: 0px 0px 29px 29px; */
        padding: 4px !important;
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
        transition: background .3s ease;
        font-size: 15px !important;
    }

    .tile-stats {
        z-index: 0;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10 px );
        border-radius: 25px;
    }

        .tile-stats .icon {
            width: 20px;
            height: 20px;
            color: #dfdfdf;
            position: absolute;
            right: 53px;
            top: 22px;
        }

    th {
        color: #000;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
        font-size: 12px;
    }
</style>


<div style="display: inline-block;width: 100%;">
    <section class="wrapper" style="background: none;box-shadow:none;">

        <div class="row" style="margin-bottom: 20px;">
            <div class="animated flipInY col-sm-6 col-xl-3">
                <div class="bg-teal rounded overflow-hidden">

                    <div class="pd-25 d-flex align-items-center">
                        <i class="icofont-airplane tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-l-20">
                            <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Airlines Tickets  @Model.AirCount</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1" style="color: burlywood;">@Model.AirAmount</p>
                            <span class="tx-11 tx-roboto tx-white-6" style="color: #9bc252;">24% Higher Today</span>
                        </div>
                    </div>


                    @*<div class="icon"><i class="icofont-airplane"></i></div>
                <div class="count">@Model.AirAmount</div>
                <h3>Total Tickets - @Model.AirCount</h3>
                <p class="viewmore"> <a href="@Model.ApplicationUrl/flightreport/ticketreport" style="color: #eee;">View More</a></p>*@
                </div>
            </div>
            @*<div class="animated flipInY col-sm-6 col-xl-3">
            <div class="bg-teal rounded overflow-hidden">
                <div class="pd-25 d-flex align-items-center">
                    <i class="icofont-airplane tx-60 lh-0 tx-white op-7"></i>
                    <div class="mg-l-20">
                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Refunded Tickets  @Model.RefundCount</p>
                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1"  style="color: burlywood;">@Model.RefundAmt</p>
                        <span class="tx-11 tx-roboto tx-white-6" style="color: #9bc252;">24% Higher Today</span>
                    </div>
                </div>
            </div>

        </div>*@
            @*<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                <div class="count">@Model.CashInFlowAmt</div>
                <h3>Cash In-flow - @Model.CashInFlowCount</h3>
                <p class="viewmore"> <a href="#">View More</a></p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-asc"></i></div>
                <div class="count">@Model.CashOutFlowAmt</div>
                <h3>Cash Out-flow - @Model.CashOutFlowCount</h3>
                <p class="viewmore"> <a href="#">View More</a></p>
            </div>
        </div>*@

            <div class="animated flipInY col-sm-6 col-xl-3">
                @*<div class="tile-stats">
                <div class="icon"><i class="icofont-train-line"></i></div>
                <div class="count">@Model.RailAmount</div>
                <h3>Rail Ticket Count- @Model.RailCount</h3>
                <p class="viewmore"> <a href="#" style="color: #eee;">View More</a></p>
            </div>*@


                <div class="bg-teal rounded overflow-hidden">
                    <div class="pd-25 d-flex align-items-center">
                        <i class="icofont-train-line tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-l-20">
                            <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Rail Ticket  @Model.RailCount</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1" style="color: burlywood;">@Model.RailAmount</p>
                            <span class="tx-11 tx-roboto tx-white-6" style="color: #9bc252;">24% Higher Today</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-sm-6 col-xl-3">
                @*<div class="tile-stats">
                <div class="icon"><i class="icofont-bus-alt-1"></i></div>
                <div class="count">@Model.BusAmount</div>
                <h3>Bus Ticket Count -@Model.BusCount</h3>
                <p class="viewmore"> <a href="#" style="color: #eee;">View More</a></p>
            </div>*@

                <div class="bg-teal rounded overflow-hidden">
                    <div class="pd-25 d-flex align-items-center">
                        <i class="icofont-bus-alt-1 tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-l-20">
                            <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Bus Ticket  @Model.BusCount</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1" style="color: burlywood;">@Model.BusAmount</p>
                            <span class="tx-11 tx-roboto tx-white-6" style="color: #9bc252;">24% Higher Today</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="animated flipInY col-sm-6 col-xl-3">
                @*<div class="tile-stats">
                <div class="icon"><i class="icofont-hotel"></i></div>
                <div class="count">@Model.HotelAmt</div>
                <h3>Hotel booking Count -@Model.HotelCount</h3>
                <p class="viewmore"> <a href="#" style="color: #eee;">View More</a></p>
            </div>*@

                <div class="bg-teal rounded overflow-hidden">
                    <div class="pd-25 d-flex align-items-center">
                        <i class="icofont-hotel tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-l-20">
                            <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Hotel Booking @Model.HotelCount</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1" style="color: burlywood;">@Model.HotelAmt</p>
                            <span class="tx-11 tx-roboto tx-white-6" style="color: #9bc252;">24% Higher Today</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

    </section>



    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Airline Sales Data
                        @*<span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>*@
                    </header>
                    <div class="panel-body">
                        <div class="x_content">
                            <p class="text-center airdata">Please wait..<span class="fa fa-spinner fa-spin"></span></p>
                            <div id="airdataTable"> </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Bus Sales Data
                        @*<span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>*@
                    </header>
                    <div class="panel-body">
                        <div class="x_content">
                            <p class="text-center airdata">Please wait..<span class="fa fa-spinner fa-spin"></span></p>
                            <div id="airdataTable"> </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Train Sales Data
                        @*<span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>*@
                    </header>
                    <div class="panel-body">
                        <div class="x_content">
                            <p class="text-center airdata">Please wait..<span class="fa fa-spinner fa-spin"></span></p>
                            <div id="airdataTable"> </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

</div>
    <script>
        $(function () {
            $("#airdataTable").html("");
            $.ajax({
                type: "Post",
                url: ApplicationUrl + "/Dashboard/AirliineSection",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (dbAirLine) {
                    $(".airdata").addClass("hidden");
                    $("#airdataTable").html(dbAirLine);
                }
            });
        });
    </script>
