﻿@model ModelLibrary.MarkupModel
@{
    ViewBag.Title = "IntAgent_markupDom";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    
}

<div class="col-md-12">
    <div class="x_panel">
        @{
            Agency_Backoffice.Models.AgencyLoginSession lu = new Agency_Backoffice.Models.AgencyLoginSession();
            if (!Agency_Backoffice.Service.AccountService.IsAgencyLogin(ref lu))
            {
                if (Agency_Backoffice.Service.AccountService.LogoutBackendLogin())
                {
                    Response.Redirect("/");
                }
            }
            <div class="x_content">

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (TempData["Msg"] != null)
                                        {
                                            <div class="alert alert-success" id="closeMessage">

                                                <span>@TempData["Msg"]</span>
                                            </div>
                                        }

                                    </div>
                                </div>

                                <header class="panel-heading">
                                    International Airline Markup

                                </header>
                                <div class="panel-body" style="padding:15px;">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.user_id, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.airlinecode, new SelectList(new List<object>{
                                                        new { value = "ALL" , text = "Flights" },
                                                        new { value="JP" ,text="Adria Airways  " },
                                                        new { value="A3" ,text="AEGEAN AIRLINE  " },
                                                        new { value="RE" ,text="Aer Arann  " },
                                                        new { value="EI" ,text="Aer Lingus  " },
                                                        new { value="SU" ,text="Aeroflot  " },
                                                        new { value="AR" ,text="Aerolineas Argentinas  " },
                                                        new { value="VW" ,text="Aeromar  " },
                                                        new { value="AM" ,text="Aeromexico  " },
                                                        new { value="VV" ,text="Aerosvit Airlines  " },
                                                        new { value="AK" ,text="Air Asia  " },
                                                        new { value="D7" ,text="Air Asia  " },
                                                        new { value="KC" ,text="Air Astana  " },
                                                        new { value="UU" ,text="Air Austral  " },
                                                        new { value="AB" ,text="Air Berlin  " },
                                                        new { value="AC" ,text="Air Canada  " },
                                                        new { value="TX" ,text="Air Caraibes  " },
                                                        new { value="CA" ,text="Air China  " },
                                                        new { value="A7" ,text="Air Comet S.A.  " },
                                                        new { value="EN" ,text="Air Dolomiti  " },
                                                        new { value="UX" ,text="Air Europa  " },
                                                        new { value="AF" ,text="Air France  " },
                                                        new { value="AI" ,text="Air India  " },
                                                        new { value="IG" ,text="Air ITALY  " },
                                                        new { value="JM" ,text="Air Jamaica  " },
                                                        new { value="NX" ,text="Air Macau Limited  " },
                                                        new { value="MD" ,text="Air Madagascar  " },
                                                        new { value="KM" ,text="Air Malta  " },
                                                        new { value="MR" ,text="Air Mauritanie  " },
                                                        new { value="MK" ,text="Air Mauritius  " },
                                                        new { value="SW" ,text="Air Namibia  " },
                                                        new { value="ON" ,text="Air Nauru  " },
                                                        new { value="NZ" ,text="Air New Zealand  " },
                                                        new { value="PX" ,text="Air Niugini Pty  " },
                                                        new { value="AP" ,text="Air One  " },
                                                        new { value="FJ" ,text="Air Pacific Ltd.  " },
                                                        new { value="HM" ,text="Air Seychelles  " },
                                                        new { value="VT" ,text="Air Tahiti  " },
                                                        new { value="TN" ,text="Air Tahiti Nui  " },
                                                        new { value="TC" ,text="Air Tanzania  " },
                                                        new { value="TS" ,text="Air Transat  " },
                                                        new { value="UM" ,text="Air Zimbabwe (Pvt)  " },
                                                        new { value="G9" ,text="AirArabia  " },
                                                        new { value="Z2" ,text="AirAsia Zest  " },
                                                        new { value="LB" ,text="AirCosta  " },
                                                        new { value="IX" ,text="AirIndia Express  " },
                                                        new { value="TL" ,text="Airnorth Regional  " },
                                                        new { value="FL" ,text="AirTran  " },
                                                        new { value="VA" ,text="AirVentura  " },
                                                        new { value="AS" ,text="Alaska Airlines  " },
                                                        new { value="LV" ,text="Albanian MAK SHPK  " },
                                                        new { value="AZ" ,text="Alitalia  " },
                                                        new { value="XM" ,text="Alitalia Express  " },
                                                        new { value="ALL" ,text="All  " },
                                                        new { value="NH" ,text="All Nippon  " },
                                                        new { value="AQ" ,text="Aloha Airlines  " },
                                                        new { value="WP" ,text="Aloha Island Air  " },
                                                        new { value="HP" ,text="America West  " },
                                                        new { value="AA" ,text="American Airlines  " },
                                                        new { value="OR" ,text="Arkefly  " },
                                                        new { value="IZ" ,text="Arkia Israeli  " },
                                                        new { value="OZ" ,text="Asiana Airlines  " },
                                                        new { value="TZ" ,text="ATA  " },
                                                        new { value="RC" ,text="Atlantic Faroe Is  " },
                                                        new { value="KK" ,text="Atlasjet  " },
                                                        new { value="GR" ,text="Aurigny Air  " },
                                                        new { value="OS" ,text="Austrian Airlines  " },
                                                        new { value="6A" ,text="AVIACConsorcio  " },
                                                        new { value="AV" ,text="Avianca Aerovias  " },
                                                        new { value="J2" ,text="AZERBAIJAN AIRLINES  " },
                                                        new { value="UP" ,text="Bahamasair  " },
                                                        new { value="PG" ,text="Bangkok Airways  " },
                                                        new { value="JV" ,text="Bearskin Airlines  " },
                                                        new { value="B2" ,text="BELAVIA  " },
                                                        new { value="J8" ,text="Berjaya Air Bhd  " },
                                                        new { value="GQ" ,text="Big Sky Airlines  " },
                                                        new { value="BG" ,text="Biman Bangladesh  " },
                                                        new { value="NT" ,text="Binter Canarias  " },
                                                        new { value="KF" ,text="Blue1 Oy  " },
                                                        new { value="BD" ,text="Bmi  " },
                                                        new { value="WW" ,text="Bmibaby  " },
                                                        new { value="FQ" ,text="Brindabella Air  " },
                                                        new { value="BA" ,text="British Airways  " },
                                                        new { value="SN" ,text="Brussels Airlines  " },
                                                        new { value="U4" ,text="Buddha Air  " },
                                                        new { value="FB" ,text="Bulgaria Air  " },
                                                        new { value="SB" ,text="Caledonie Intl  " },
                                                        new { value="MO" ,text="Calm Air Intl  " },
                                                        new { value="BW" ,text="Caribbean Airlines  " },
                                                        new { value="V3" ,text="Carpatair S.A.  " },
                                                        new { value="KA" ,text="Cathay Dragon  " },
                                                        new { value="CX" ,text="Cathay Pacific  " },
                                                        new { value="KX" ,text="Cayman Airways  " },
                                                        new { value="CI" ,text="China Airlines  " },
                                                        new { value="MU" ,text="China Eastern Air  " },
                                                        new { value="CZ" ,text="China Southern  " },
                                                        new { value="QI" ,text="Cimber Air A.S.  " },
                                                        new { value="XK" ,text="Compagnie Corse  " },
                                                        new { value="MX" ,text="Compania Mexicana  " },
                                                        new { value="CO" ,text="Continental  " },
                                                        new { value="V0" ,text="Conviasa  " },
                                                        new { value="CM" ,text="COPA Panama  " },
                                                        new { value="SS" ,text="Corse Air Intl  " },
                                                        new { value="OU" ,text="Croatia Airlines  " },
                                                        new { value="OK" ,text="Czech Air as CSA  " },
                                                        new { value="DL" ,text="Delta  " },
                                                        new { value="Z6" ,text="Dnieproavia Joint  " },
                                                        new { value="KB" ,text="Druk Air  " },
                                                        new { value="T3" ,text="Eastern Airways  " },
                                                        new { value="U2" ,text="EasyJet  " },
                                                        new { value="MS" ,text="Egypt Air  " },
                                                        new { value="LY" ,text="El Al Israel Air  " },
                                                        new { value="EK" ,text="Emirates  " },
                                                        new { value="E0" ,text="Eos Airlines  " },
                                                        new { value="OV" ,text="Estonian Air  " },
                                                        new { value="ET" ,text="Ethiopian Airlines  " },
                                                        new { value="EY" ,text="Etihad Airways  " },
                                                        new { value="GJ" ,text="Eurofly S.p.A.  " },
                                                        new { value="EW" ,text="EUROWINGS  " },
                                                        new { value="BR" ,text="EVA Corporation  " },
                                                        new { value="AY" ,text="Finnair  " },
                                                        new { value="ST" ,text="Fluggesellschaft  " },
                                                        new { value="F7" ,text="Flybaboo  " },
                                                        new { value="BE" ,text="Flybe  " },
                                                        new { value="FZ" ,text="Flydubai  " },
                                                        new { value="SH" ,text="FlyMe  " },
                                                        new { value="F9" ,text="Frontier  " },
                                                        new { value="GA" ,text="Garuda Indonesia  " },
                                                        new { value="X2" ,text="Globespan  " },
                                                        new { value="Z5" ,text="GMG Airlines Ltd.  " },
                                                        new { value="G8" ,text="GoAir  " },
                                                        new { value="G8" ,text="GoAir  " },
                                                        new { value="ZK" ,text="Great Lakes Av  " },
                                                        new { value="GF" ,text="Gulf Air GSC  " },
                                                        new { value="H1" ,text="Hahn Air  " },
                                                        new { value="HR" ,text="HahnAir  " },
                                                        new { value="HU" ,text="Hainan Airlines  " },
                                                        new { value="HF" ,text="Hapag Lloyd  " },
                                                        new { value="X3" ,text="Hapag Lloyd Expr  " },
                                                        new { value="H3" ,text="Harbour Air Ltd.  " },
                                                        new { value="HQ" ,text="Harmony  " },
                                                        new { value="HA" ,text="Hawaiian Airlines  " },
                                                        new { value="ZL" ,text="Hazelton Regional  " },
                                                        new { value="JB" ,text="Helijet Intl  " },
                                                        new { value="EO" ,text="Hewa Bora Airways  " },
                                                        new { value="UO" ,text="HONG KONG EXPRESS AIRWAYS  " },
                                                        new { value="HX" ,text="HongKong Airline  " },
                                                        new { value="IB" ,text="Iberia  " },
                                                        new { value="X5" ,text="Iceland Express  " },
                                                        new { value="FI" ,text="Icelandair  " },
                                                        new { value="IC" ,text="Indian Airlines  " },
                                                        new { value="6E" ,text="Indigo  " },
                                                        new { value="6E" ,text="Indigo  " },
                                                        new { value="IR" ,text="Iran Air  " },
                                                        new { value="IF" ,text="Islas Airways  " },
                                                        new { value="JC" ,text="JAL Express  " },
                                                        new { value="JO" ,text="JALways Co. Ltd.  " },
                                                        new { value="JL" ,text="Japan Airlines  " },
                                                        new { value="NU" ,text="Japan Transocean  " },
                                                        new { value="JU" ,text="Jat Airways  " },
                                                        new { value="J9" ,text="JAZEERA AIRWAYS  " },
                                                        new { value="4U" ,text="Jerman Wings  " },
                                                        new { value="9W" ,text="Jet Airways  " },
                                                        new { value="9W" ,text="Jet Airways  " },
                                                        new { value="B6" ,text="JetBlue Airways  " },
                                                        new { value="S2" ,text="JetKonnect  " },
                                                        new { value="S2" ,text="JetKonnect  " },
                                                        new { value="T1" ,text="Jetonly  " },
                                                        new { value="JQ" ,text="Jetstar Airways  " },
                                                        new { value="3K" ,text="JETSTAR ASIA  " },
                                                        new { value="HO" ,text="JUNEYAO AIRLINES  " },
                                                        new { value="RQ" ,text="Kam Air  " },
                                                        new { value="XC" ,text="KD Air Corporation  " },
                                                        new { value="M5" ,text="Kenmore Air  " },
                                                        new { value="KQ" ,text="Kenya Airways  " },
                                                        new { value="YK" ,text="Kibris Yollari  " },
                                                        new { value="IT" ,text="Kingfisher Air  " },
                                                        new { value="KL" ,text="KLM Royal Dutch  " },
                                                        new { value="KE" ,text="Korea  " },
                                                        new { value="KE" ,text="Korean Air Lines  " },
                                                        new { value="KU" ,text="Kuwait Airways  " },
                                                        new { value="BO" ,text="La Compagnie  " },
                                                        new { value="JF" ,text="LAB Flying  " },
                                                        new { value="LR" ,text="LACSA  " },
                                                        new { value="TM" ,text="LAM Mocambique  " },
                                                        new { value="LA" ,text="Lan Chile S.A.  " },
                                                        new { value="XL" ,text="Lan Ecuador Aero  " },
                                                        new { value="LP" ,text="Lan Peru S.A.  " },
                                                        new { value="LI" ,text="LIAT (1974) Ltd.  " },
                                                        new { value="JT" ,text="Lion Airlines  " },
                                                        new { value="TE" ,text="Lithuanian Air  " },
                                                        new { value="LB" ,text="Lloyd Aereo Bol  " },
                                                        new { value="LO" ,text="LOT Polish Air  " },
                                                        new { value="LT" ,text="LTU International  " },
                                                        new { value="LH" ,text="Lufthansa  " },
                                                        new { value="LG" ,text="Luxair  " },
                                                        new { value="W5" ,text="Mahan Airlines  " },
                                                        new { value="MH" ,text="Malaysia Berhad  " },
                                                        new { value="MA" ,text="Malev Hungarian  " },
                                                        new { value="OD" ,text="Malindo Air  " },
                                                        new { value="TF" ,text="Malmo Aviation  " },
                                                        new { value="MP" ,text="Martinair Holland  " },
                                                        new { value="L6" ,text="Mauritania Airlines  " },
                                                        new { value="MY" ,text="MAXjet  " },
                                                        new { value="IG" ,text="Meridiana  " },
                                                        new { value="YV" ,text="Mesa Airlines Inc.  " },
                                                        new { value="OM" ,text="MIAT Mongolian  " },
                                                        new { value="ME" ,text="Middle E. AirLiban  " },
                                                        new { value="YX" ,text="Midwest  " },
                                                        new { value="MJ" ,text="Mihin Lanka  " },
                                                        new { value="ZB" ,text="Monarch Airlines  " },
                                                        new { value="YM" ,text="Montenegro Air  " },
                                                        new { value="8M" ,text="MYANMAR AIRWAYS  " },
                                                        new { value="XW" ,text="Nokscoot  " },
                                                        new { value="LF" ,text="Nordic East Air  " },
                                                        new { value="NA" ,text="North American  " },
                                                        new { value="NW" ,text="Northwest  " },
                                                        new { value="UQ" ,text="O'Connor Airlines  " },
                                                        new { value="OA" ,text="Olympic Airlines  " },
                                                        new { value="WY" ,text="Oman Av  " },
                                                        new { value="LW" ,text="Pacific Wings  " },
                                                        new { value="PK",text="Pakistan Intl Air  " },
                                                        new { value="PC" ,text="PEGASUS  " },
                                                        new { value="KS",text=">Penair  " },
                                                        new { value="PR",text="Philippine Air  " },
                                                        new { value="NI" ,text="Portugalia Co  " },
                                                        new { value="PW" ,text="Precision Air  " },
                                                        new { value="PB" ,text="Provincial Air  " },
                                                        new { value="FV" ,text="Pulkovo Aviation  " },
                                                        new { value="QF",text="Qantas Airways  " },
                                                        new { value="QR",text="Qatar  " },
                                                        new { value="QR",text="Qatar Airways  " },
                                                        new { value="RT",text="RAK Airways  " },
                                                        new { value="AT",text="Royal Air Maroc  " },
                                                        new { value="BI" ,text="ROYAL BRUNEI  " },
                                                        new { value="RJ" ,text="Royal Jordanian  " },
                                                        new { value="RA" ,text="Royal Nepal  " },
                                                        new { value="WB" ,text="RwandAir  " },
                                                        new { value="FR" ,text="Ryanair  " },
                                                        new { value="4Q" ,text="Safi Airline  " },
                                                        new { value="S3" ,text="Santa Barbara Air  " },
                                                        new { value="SP" ,text="SATA - Air Acores  " },
                                                        new { value="S4" ,text="SATA Intl Servicos  " },
                                                        new { value="SV" ,text="Saudi Arabian Air  " },
                                                        new { value="SK" ,text="Scandinavian Airlines  " },
                                                        new { value="SC" ,text="Shandong Airlines  " },
                                                        new { value="FM" ,text="Shanghai Airlines  " },
                                                        new { value="ZH" ,text="Shenzhen Airlines  " },
                                                        new { value="S7" ,text="Siberia Airlines  " },
                                                        new { value="FT" ,text="Siem Reap Intl  " },
                                                        new { value="MI" ,text="SilkAir (S) Pte  " },
                                                        new { value="SQ" ,text="Singapore Air  " },
                                                        new { value="JZ" ,text="Skyways AB  " },
                                                        new { value="XR" ,text="Skywest Air Pty  " },
                                                        new { value="IE" ,text="Solomon Airlines  " },
                                                        new { value="4J" ,text="Somon Air" },
                                                        new { value="SA" ,text="South African  " },
                                                        new { value="JK" ,text="Spanair S.A." },
                                                        new { value="SG" ,text="Spicejet  " },
                                                        new { value="SG" ,text="Spicejet" },
                                                        new { value=" NK",text="Spirit Airlines" },
                                                        new { value=" UL",text="SriLankan Airlines" },
                                                        new { value=" SE",text="STAR Airlines" },
                                                        new { value="NB" ,text="Sterling.dk  " },
                                                        new { value="SY" ,text="Sun Country Air  " },
                                                        new { value="XQ" ,text="SunExpress" },
                                                        new { value="PY" ,text="Surinam Airways  " },
                                                        new { value="HS" ,text="Svenska Direktflyg  " },
                                                        new { value="LX" ,text="Swiss Intl Air" },
                                                        new { value="RB" ,text="Syrian Arab Air  " },
                                                        new { value="TA" ,text="Taca Intl Air" },
                                                        new { value=" JJ",text="TAM Linhas Aereas" },
                                                        new { value=" TP",text="TAP - Air Portugal" },
                                                        new { value=" RO",text="TAROM Transport" },
                                                        new { value=" RU",text="TCI Skyking Ltd." },
                                                        new { value=" TG",text="Thai Airways" },
                                                        new { value=" SL",text="Thai Lion" },
                                                        new { value="WE" ,text="Thai Smile  " },
                                                        new { value="TR" ,text="Tiger Airways" },
                                                        new { value="UN" ,text="Transaero Airlines  " },
                                                        new { value="HV" ,text="Transavia Airlines  " },
                                                        new { value="QS" ,text="Travel Service" },
                                                        new { value="2T" ,text="TruJet  " },
                                                        new { value="TU" ,text="Tunisair  " },
                                                        new { value="TK" ,text="Turkish Airlines" },
                                                        new { value=" PS",text="Ukraine Intl Air" },
                                                        new { value=" UF",text="Ukrainian Med" },
                                                        new { value="UA" ,text="United  " },
                                                        new { value="US" ,text="US Airways" },
                                                        new { value=" HY",text="Uzbekistan Airlines" },
                                                        new { value="VF" ,text="Valuair Ltd.  " },
                                                        new { value="NF" ,text="Vanuatu  " },
                                                        new { value="RG" ,text="Varig S.A." },
                                                        new { value=" VM",text="Viaggio Air" },
                                                        new { value=" VN",text="Vietnam Air Corp" },
                                                        new { value=" VQ",text="Vintage Props/Jets" },
                                                        new { value=" VS",text="Virgin Atlantic" },
                                                        new { value=" VA",text="Virgin Australia" },
                                                        new { value=" TV",text="Virgin Express" },
                                                        new { value="VK" ,text="Virgin Nigeria  " },
                                                        new { value="UK" ,text="Vistara  " },
                                                        new { value="UK" ,text="Vistara" },
                                                        new { value=" VG",text="VLM Airlines" },
                                                        new { value="VA" ,text="Volare S.p.A  " },
                                                        new { value="V7" ,text="Volotea" },
                                                        new { value=" G3",text="vrg linhas aereas airlines" },
                                                        new { value="VY" ,text="Vueling Airlines  " },
                                                        new { value="WS" ,text="WestJet" },
                                                        new { value=" WF",text="Wideroes Fly" },
                                                        new { value=" IV",text="Wind Jet S.p.A."},
                                                        new { value="WM" ,text="Windward Is Intl  " },
                                                        new { value="K5" ,text="Wings of Alaska"},
                                                        new { value="W6" ,text="Wizz Air" },
                                                        new { value="MF" ,text="Xiamen Airlines"},
                                                        new { value="IY" ,text="Yemenia Yemen " },
                                                        new { value="Q3" ,text="Zambian Airways " },
                                                      }, "value", "text"), new { @class = "form-control" })
                                                </div>
                                                <div class="col-sm-2 hidden">
                                                    @Html.HiddenFor(p => p.airline)
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.TextBoxFor(p => p.Markup, new { @class = "form-control", placeholder = "Markup - 0" })
                                                </div>
                                                <div class="col-sm-2">

                                                    @Html.DropDownListFor(model => model.markup_type, new SelectList(new List<Object>{
                                                      new { value = "" , text = "--Markup Type--"},
                                                        new { value = "F" , text = "Fixed"},
                                                        new { value = "P" , text = "Percentage"},
                                                          }, "value", "text"), new { @class = "form-control" })

                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="NEW ENTRY" />
                                                    <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <section class="wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Report

                                </header>
                                <div class="panel-body table-responsive" style="overflow:scroll;">
                                    <table class="table table-bordered table-hover" data-toggle="table">
                                        <thead>
                                            <tr>
                                                <th>Carrier</th>
                                                <th>Markup Value</th>
                                                <th>Markup Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Totalcount > 0)
                                            {
                                                foreach (var item in Model.DomMarkupList)
                                                {
                                                    <tr>
                                                        <td>@item.airline</td>
                                                        <td>@item.Markup</td>
                                                        <td>@(item.markup_type.ToLower().Trim() == "f" ? "Fixed" : "Percentage")</td>
                                                        <td>
                                                            <a data-fancybox-type="iframe" data-toggle="tooltip" title="Edit" data-fancybox-href="@lu.ApplicationUrl/setting/edit-markup-int?counter=@item.Counter&markup=@item.Markup&markuptype=@item.markup_type" class="btn btn-success btn-sm popupclassreload anchorlinkred"><span class="fa fa-edit" style="color:#fff!important"></span> </a>
                                                            <a href="@lu.ApplicationUrl/setting/delete-markup-int?counter=@item.Counter" onclick="javascript: return DeleteConfirm();" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            }
        </div>
        </div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        $("#airline").val($("#airlinecode").find("option:selected").html());
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the markup ?');
        }
        function CheckForm() {
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}


