﻿@model ModelLibrary.StaffModel
@{
    ViewBag.Title = "NewExecutive";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/Checkbox.css.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    
}
<div class="col-md-12">
    <div class="x_panel">
       
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (TempData["Msg"] != null)
                                    {
                                        <div class="alert alert-success" id="closeMessage">

                                            <span>@TempData["Msg"]</span>
                                        </div>
                                    }

                                </div>
                            </div>

                            <header class="panel-heading">
                                Add New Staff

                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-3 form-validation">

                                                @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "Enter name.." })
                                            </div>
                                            <div class="col-sm-3 form-validation">

                                                @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Enter email.." })
                                            </div>
                                            <div class="col-sm-3 form-validation">

                                                @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);", placeholder = "Enter mobile no.." })
                                            </div>
                                            <div class="col-sm-3 form-validation">

                                                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter password.." })
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-6 form-validation">

                                                @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Enter address.." })
                                            </div>
                                            <div class="col-sm-6">

                                                <div class="col-sm-12">

                                                    <div class="col-sm-4">
                                                        <br />
                                                        <label style="margin-left: 25px;">Active Service :-</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="seeingo">
                                                            Login
                                                            @Html.CheckBoxFor(p => p.Status)
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="seeingo">
                                                            Flight
                                                            @Html.CheckBoxFor(p => p.Flight)
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="seeingo">
                                                            Hotel
                                                            @Html.CheckBoxFor(p => p.Hotel)
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="seeingo">
                                                            Bus
                                                            @Html.CheckBoxFor(p => p.Bus)
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SUBMIT" />
                                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Report

                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th class="sticky-header">Debit / Credit</th>
                                            <th>User Id</th>
                                            <th>Password</th>
                                            <th>Staff Name</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Login Status</th>
                                            <th>Flight</th>
                                            <th>Hotal</th>
                                            <th>Bus</th>
                                            <th>Check Balance</th>
                                            <th>Balance</th>
                                            <th>Last TransDate</th>
                                            <th>Created Date</th>
                                            <th>Created By</th>
                                            <th>Updated Date</th>
                                            <th>Updated By</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.StaffList)
                                            {
                                                <tr>
                                                    <td class="sticky-row"><a data-fancybox-type="iframe" data-toggle="tooltip" title="Credit / Debit" data-fancybox-href="/setting/credit-debit?UserId=@item.UserId&Id=@item.Id&Name=@item.Name&agencyid=@item.AgencyId&type=@item.UserType&balance=@item.CreditLimit&mobileno=@item.Mobile&Email=@item.Email" class="btn btn-info btn-sm popupclassreload anchorlinkred" style="color:#fff !important;">Credit / Debit </a></td>
                                                    <td>@item.UserId</td>
                                                    <td>@item.Password</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Address</td>
                                                    <td>
                                                        @if (item.sStatus.ToString() == "ACTIVE")
                                                        {
                                                            <span class="fa fa-check activecolr"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-remove deactivecolr"></span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.sFlight.ToString() == "ACTIVE")
                                                        {
                                                            <span class="fa fa-check activecolr"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-remove deactivecolr"></span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.sHotel.ToString() == "ACTIVE")
                                                        {
                                                            <span class="fa fa-check activecolr"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-remove deactivecolr"></span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.sBus.ToString() == "ACTIVE")
                                                        {
                                                            <span class="fa fa-check activecolr"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-remove deactivecolr"></span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.CheckBalance.ToLower() == "true")
                                                        {
                                                            <span class="fa fa-check activecolr"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-remove deactivecolr"></span>
                                                        }
                                                    </td>
                                                    <td>@item.CreditLimit</td>
                                                    <td>@item.CreditLimitTrnsDate</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.CreatedBy</td>
                                                    <td>@item.UpdatedDate</td>
                                                    <td>@item.UpdatedBy</td>
                                                    <td><a data-fancybox-type="iframe" data-toggle="tooltip" title="Update" data-fancybox-href="/setting/edit-satff?UserId=@item.UserId&Id=@item.Id&agencyid=@item.AgencyId&Name=@item.Name&mobileno=@item.Mobile&Email=@item.Email&address=@item.Address&password=@item.Password&status=@item.Status&flight=@item.Flight&hotel=@item.Hotel&bus=@item.Bus&rail=@item.Rail" class="btn btn-warning btn-sm popupclassreload anchorlinkred" style="color:#fff !important;">Edit</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </section>
                        </div>
                    </div>
                </section>
                    </div>
                </div>
        </div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the Staff ?');
        }
        function CheckForm() {
            if (CheckBlankValidation('Name')) return !1;
            if (CheckBlankValidation('Email')) return !1;
            if (CheckEmailValidatoin("Email")) return !1;
            if (CheckBlankValidation('Mobile')) return !1;
            if (CheckBlankValidation('Password')) return !1;
            if (CheckBlankValidation('Address')) return !1;
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}


