﻿
@{
    ViewBag.Title = "FlightTravelCalender";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/travelcal/main.css" rel="stylesheet" />
    <script src="~/Content/travelcal/main.js?v=1.1"></script>
    <style>
        table thead th {
            width: auto !important;
        }

        @@media (min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 14.5%;
            }
        }
    </style>
}

<div class="col-md-12">
    <div class="x_panel">
        @*<div class="x_title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><i class="fa fa-calendar"></i>&nbsp;Flight Travel Calender</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>*@

        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <i class="icofont-airplane-alt"></i>  Flight Travel Calender

                        </header>

                        <div class="panel-body" style="padding:15px;">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 form-validation">
                                        <select class="form-control" id="ddlMonth" name="ddlMonth">
                                            <option value="">Select Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 form-validation">
                                        <select class="form-control" id="ddlYear" name="ddlYear"></select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" id="txtPNR" name="txtPNR" placeholder="Flight PNR" type="text" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" id="txtAirCode" name="txtAirCode" placeholder="Airline code" type="text" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="txtPaxFName" name="txtPaxFName" placeholder="Pax first name" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        <input class="form-control" id="txtDeptCode" name="txtDeptCode" placeholder="Departure city code" type="text" maxlength="3" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" id="txtDestiCode" name="txtDestiCode" placeholder="Destination city code" type="text" maxlength="3" />
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="ddlTripType" name="ddlTripType">
                                            <option value="">Select Trip</option>
                                            <option value="O">One Way</option>
                                            <option value="R">Round Trip</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="ddlTrip" name="ddlTrip">
                                            <option value="">Select Trip</option>
                                            <option value="D">Domestic</option>
                                            <option value="I">International</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="btn btn-success form-control" id="btnSearch" style="cursor:pointer;" onclick="return GetTravCalBySearch()">Search</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="btn btn-danger form-control" id="btnReset" style="cursor:pointer;" onclick="return TravelCalReset()">Reset</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>


        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <i class="icofont-ui-calendar"></i>  Calender

                        </header>
                        <div class="panel-body" style="padding:15px;">
                            <div id="show_sold_calendar">
                                <div id='calendar'>
                                    <span style="text-align:center;">Please wait... <i class="fa fa-pulse fa-spinner"></i></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

    </div>
</div>
<button type="button" class="btn btn-primary" id="BookingModel" data-toggle="modal" data-target="#exampleModal" style="display:none;"></button>
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow: scroll; max-height: 700px;">
            <div class="modal-header" style="position: fixed; height: 61px; background: #fff; z-index: 99999; width: 100%;">
                <h5 class="modal-title" id="exampleModalLongTitle">Booking Details <span id="spndate" style=" color: #169F85;"> : Selected Date...<i class="fa fa-spinner fa-pulse"></i></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row modal-body">
                <table class="table" style="margin-top: 45px;">
                    <thead>
                        <tr @*style="color: #169F85; position: fixed; height: 61px; background: #fff; z-index: 99999; width: 100%; margin-top: 45px;"*@>
                            <th>PAX_ID</th>
                            <th>ORDER_ID</th>
                            <th>PNR</th>
                            <th>PAX_NAME</th>
                            <th>AIRLINE</th>
                            <th>SECTOR</th>
                            <th>DEPT_TIME</th>
                            <th>PROVIDER</th>
                            <th>TRIP</th>
                            <th>TRIP_TYPE</th>
                        </tr>
                    </thead>
                    <tbody id="BookingDel"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

