﻿@model ModelLibrary.ReIssueReFund

@{
    ViewBag.Title = "ReIssueReFund";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/validation.css" rel="stylesheet" />
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> @Model.ActionType</h2>
        <div class="clearfix"></div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="x_content">
            <div class="row form-group">
                <div class="col-md-12 col-sm-12  form-group">
                    <h4 class="text-center">@TempData["Message"]</h4>
                </div>
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.PaxID)
            @Html.HiddenFor(p => p.Sector)
            @Html.HiddenFor(p => p.OrderId)
            @Html.HiddenFor(p => p.PNR)
            @Html.HiddenFor(p => p.PaxType)
            @Html.HiddenFor(p => p.ActionType)

            <div class="x_content">
                <div class="row form-group ">
                    <div class="col-md-4 col-sm-12  form-group">
                        <label>PNR: <span style="font-weight:100;">@Model.PNR</span></label>
                    </div>
                    <div class="col-md-4 col-sm-12  form-group">
                        <label>Ticket No: <span style="font-weight:100;">@Model.TicketNo</span></label>
                    </div>
                    <div class="col-md-4 col-sm-12  form-group">
                        <label>Pax Name: <span style="font-weight:100;">@Model.PaxName</span></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 col-sm-12  form-group">
                        <h4> Remark:</h4>
                    </div>
                    <div class="col-md-10 col-sm-12  form-group form-validation">
                        @Html.TextAreaFor(p => p.Remark, new { @class = "form-control", placeholder = "Remark..." })
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right" id="btnSubmit" onclick="return CheckForm();">Submit</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section footer
{
    <script>
        function CheckForm() {            
            if (CheckBlankValidation("Remark")) return !1;
            $("#btnSubmit").html("Please Wait... <i class='fa fa-pulse fa-spinner'></i>");
        }
    </script>
}

