﻿@model ModelLibrary.FlightTicketReport

@{
    ViewBag.Title = "TicketReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        @@media(min-width: 992px) {
            .modal-lg {
                max-width: 85%;
                margin-left: 15%;
            }
        }
    </style>
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-airplane-alt"></i>  Ticket Report List
                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm("TicketReport", "FlightReport", FormMethod.Post))
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                                            </div>

                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "AirlinePnr.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Select Trip Type--" },
                                                        new { value = "D" , text = "Domestic" },
                                                        new { value = "I" , text = "International"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>

                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Ticket Report
                                <span class="tools pull-right">
                                    @if (Model.Totalcount > 0)
                                    {
                                        using (Html.BeginForm("FlightReportExportToExcel", "FlightReport", FormMethod.Post))
                                        {                                            
                                            <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                        }
                                    }
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th class="sticky-header">Order Id</th>
                                            <th></th>
                                            <th>PNR</th>
                                            <th><i class="icofont-air-ticket"></i>  Ticket #</th>
                                            @*<th>P TYPE</th>*@
                                            <th><i class="icofont-travelling"></i>  Travellers</th>
                                            @*<th>EXEC ID</th>*@

                                            <th>Sector</th>
                                            <th><i class="icofont-rupee"></i>  Cost</th>

                                            <th><i class="icofont-ui-calendar"></i>  Journey On</th>
                                            <th>Reissue</th>
                                            <th>Cancel</th>
                                            @*<th>Cancel Online</th>*@
                                            <th>T-Mode</th>
                                            <th><i class="icofont-ui-calendar"></i>  Booking Date</th>
                                        </tr>
                                    </thead>
                                    <tbody data-show="true" data-id="ddes">
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.FlightTicketReportList)
                                            {
                                                <tr>

                                                    <td class="sticky-row"><span style="color: #ef6c00;cursor:pointer;" onclick="TicketDetails('@item.OrderId')">@item.OrderId</span></td>
                                                    <td><img src="@item.VCLogoUrl" style="width: 20px; border-radius: 15px;" /></td>
                                                    <td>@item.GdsPnr</td>
                                                    <td>@item.TicketNo</td>
                                                    @*<td>@item.PaxType</td>*@
                                                    <td style=" text-align: left;">@item.PName</td>
                                                    @*<td>@item.ExecutiveId</td>*@

                                                    <td>@item.Sector</td>
                                                    <td>@item.TotalAfterDis</td>

                                                    <td>@item.JourneyDate</td>
                                                    <td>
                                                        <a data-fancybox-type="iframe" data-fancybox-href="@item.ReissueUrl" class="text-info popupclass anchorlinkred">Reissue Request </a>
                                                    </td>
                                                    <td>
                                                        <a data-fancybox-type="iframe" data-fancybox-href="@item.CancelUrl" class="text-info popupclass anchorlinkred">Cancel Request </a>
                                                    </td>
                                                    @*<td><a href="#" style="color:red">	Cancel Online</a></td>*@
                                                    <td>@item.PaymentMode</td>
                                                    <td>@item.CreateDate</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="13">
                                                    <p class="text-danger">No result found!</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" id="btnTicketDetailsReportClick" style="display:none;" data-toggle="modal" data-target="#TicketDetailsReport"></button>
<div class="modal fade bd-example-modal-lg" id="TicketDetailsReport" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="modelTicketDetailBody">
        <div class="modal-content">
            <div class="modal-header" id="modelTicketDetailHeading"></div>
            <div class="modal-body" id="TicketDetailBodyContent"></div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/flight.js"></script>
}
