﻿@model ModelLibrary.FlightTicketReport
@{
    ViewBag.Title = "TicketStatusReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="col-md-12">
    <div class="x_panel">
        @*<div class="x_title">
            <div class="row">
                <div class="col-sm-10">
                    <h4><i class="fa fa-list"></i>&nbsp;Booking Lookup Report</h4>
                </div>
           

            </div>
            <div class="clearfix"></div>
        </div>*@
        <div class="x_content">

            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Booking Lookup

                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                                            </div>

                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                                         new { value = "" , text = "--Trip Type--" },
                                                        new { value = "D" , text = "Domestic" },
                                                        new { value = "I" , text = "International"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>

                                            <div class="col-sm-2">

                                                @Html.DropDownListFor(model => model.Status, new SelectList(new List<Object>{
                                                         new { value = "ALL" , text = "Select Status" },
                                                        new { value = "Request" , text = "Hold" },
                                                        new { value = "ConfirmByAgent" , text = "HoldByAgent"},
                                                         new { value = "PreConfirmByAgent" , text = "PreHoldByAgent"},
                                                          new { value = "Rejected" , text = "Rejected"},
                                                           new { value = "Failed" , text = "Failed"},
                                                            new { value = "Ticketed" , text = "Ticketed"},
                                                     }, "value", "text"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top: 1px" :onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden" style="margin-top: 1px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                        </div>
                                    </div>
                              
                               
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Booking Lookup Report
                                <span class="tools pull-right">
                                    @if (Model.Totalcount > 0)
                                    {
                                        using (Html.BeginForm("TicketStatusReportExportToExcel", "FlightReport", FormMethod.Post))
                                        {
                                            <button type="submit" style="cursor:pointer;"><span class="icofont-file-excel"></span> Export</button>
                                        }
                                    }
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead>
                                        <tr>
                                            <th class="sticky-header">Order Id</th>
                                            <th>Pnr</th>
                                            <th>Ticket Number#</th>
                                            <th>Status</th>
                                            <th>P Type</th>
                                            <th>P Name</th>
                                            <th>Carrier</th>
                                            <th>Sector</th>
                                            <th>N Fare</th>
                                            <th>Booking Date</th>
                                            <th>Journey Date</th>
                                            <th>Pax Count</th>
                                            <th>Hand_Bag_Fare</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.FlightTicketReportList)
                                            {
                                                <tr>
                                                    <td class="sticky-row"><a href="#">@item.OrderId</a></td>
                                                    <td>@item.GdsPnr</td>
                                                    <td>@item.TicketNo</td>
                                                    <td>@item.Status</td>
                                                    <td>@item.PaxType</td>
                                                    <td>@item.PName</td>
                                                    <td>@item.VC</td>
                                                    <td>@item.Sector</td>
                                                    <td>@item.TotalBookingCost</td>
                                                    <td>@item.CreateDate</td>
                                                    <td>@item.JourneyDate</td>
                                                    <td>@item.TotalPax</td>
                                                    <td>@item.IsBagFares</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </section>
                        </div>
                    </div>
                </section>
                    </div>
                </div>
        </div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

