﻿@model ModelLibrary.AccountLedgerReport
@{
    ViewBag.Title = "DomSaleRegister";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        /*border: 1px solid black;*/
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-10">
                    <h4><i class="fa fa-list"></i>&nbsp;Domestic Sale Register List</h4>
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm(@*"action method", "Controllername", FormMethod.Post*@))
                     {
                        <button class="btn btn-dark form-control" style="cursor:pointer;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                     }
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group box-container">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.PnrNo, new { @class = "form-control", placeholder = "Enter PnrNo.." })
                            </div>
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Enter OrderId.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group"> <br />
                            <div class="col-sm-3">
                               
                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Enter Pax Name.." })
                            </div>
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "Enter TicketNo.." })
                            </div>
                            <div class="col-sm-3">
                                
                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "Enter Airline.." })
                            </div>
                            <div class="col-sm-3 hidden">
                                
                                @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "Enter AgencyName.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            @*<div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>*@
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-12 container wrapper">
                <table class="table table-bordered table-hover" data-toggle="table">
                    <thead>
                        <tr>
                            <th class="sticky-header">Order Id</th>
                            <th>Easy Id</th>
                            <th>Easy Trans No.</th>
                            <th>Agency Id</th>
                            @*<th>Agency Name</th>*@
                            <th>Gds Pnr</th>
                            <th>Carrier Pnr	</th>
                            <th>Sector</th>
                            <th>Vc</th>
                            <th>Pax Name</th>
                            <th>Pax Type</th>
                            <th>Carrier</th>
                            <th>Ticket Number#</th>
                            <th>Base Fare</th>
                            <th>Yq</th>
                            <th>Tax</th>
                            <th>Tran Fee</th>
                            <th>Mgt Fee</th>
                            <th>Discount</th>
                            <th>Tds</th>
                            <th>Total Fare</th>
                            <th>Net Fare</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.AccountLedgerReportList)
                            {
                                <tr>
                                    <td class="sticky-row"><a href="@item.InvoiceUrl" target="_blank" style="color:red;font-weight:bold;">@item.OrderId (Invoice)</a></td>
                                    <td>@item.EasyID</td>
                                    <td>@item.EasyTransID</td>
                                    <td>@item.AgencyID</td>
                                    @*<td>@item.AgencyName</td>*@
                                    <td>@item.GdsPnr</td>
                                    <td>@item.AirLinePnr</td>
                                    <td>@item.Sector</td>
                                    <td>@item.VC</td>
                                    <td>@item.Title @item.FName @item.LName</td>
                                    <td>@item.PaxType</td>
                                    <td>@item.AirLine	</td>
                                    <td>@item.TicketNumber</td>
                                    <td>@item.BaseFare</td>
                                    <td>@item.YQ</td>
                                    <td>@item.TotalTax</td>
                                    <td>@item.TranFee</td>
                                    <td>@item.MgtFee</td>
                                    <td>@item.Discount</td>
                                    <td>@item.Tds</td>
                                    <td>@item.TotalFare</td>
                                    <td>@item.TotalAfterDis</td>
                                    <td>@item.CreateDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>
