﻿@model ModelLibrary.AccountLedgerReport

@{
    ViewBag.Title = "LedgerReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .boxledger {
        border: 1px solid #ccc;
        padding: 6px;
        box-shadow: 0px 0px 4px #c3c3c3;
        border-radius: 4px;
    }



    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        left: 0px;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        left: 0px;
        text-align: center;
    }

    .second-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
        text-align: center;
    }

    .closingbalance {
        text-align: right;
        margin-top: 4px;
        margin-right: 12px;
        margin-bottom: -15px;
        font-size: 15px;
        color: red;
    }

    .pricecolr {
        font-size: 15px;
        font-family: monospace;
        font-weight: bold
    }

    .unpaidstatus {
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 54px;
        background: #f5ab06;
        padding: 1px;
        border-radius: 5px;
        color: #fff;
        width: 57px;
        text-align: center;
    }

    .paidstatus {
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 54px;
        background: green;
        padding: 1px;
        border-radius: 5px;
        color: #fff;
        width: 52px;
        text-align: center;
    }

    .debit {
        background: #fe0000;
        padding: 1px;
        border-radius: 5px;
        color: #fff !important;
        width: 60px;
        margin-top: 5px;
        text-align: center !important;
        font-weight: bold;
    }

    .credit {
        background: #169f85;
        padding: 1px;
        border-radius: 5px;
        color: #fff !important;
        width: 57px;
        text-align: center !important;
        font-weight: bold;
    }

    .imglogo {
        padding: 1px;
        border-radius: 50%;
        border: 2px solid #4b5f71;
        width: 35px;
    }
</style>

<div class="col-md-12">
    <div class="x_panel">
        @{
            Agency_Backoffice.Models.AgencyLoginSession lu = new Agency_Backoffice.Models.AgencyLoginSession();
            if (!Agency_Backoffice.Service.AccountService.IsAgencyLogin(ref lu))
            {
                if (Agency_Backoffice.Service.AccountService.LogoutBackendLogin())
                {
                    Response.Redirect("/");
                }
            }
            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">

                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Ledger Report
                                <span class="tools pull-right">


                                    @using (Html.BeginForm())
                                    {
                                        <button style="cursor:pointer;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                                    }
                                </span>

                            </header>
                            <div class="panel-body" style="padding:15px;">

                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12" style="padding: 5px;">
                                                <a href="@lu.ApplicationUrl/account/ledgerreport" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-list"></span> All</a>
                                                <a href="@lu.ApplicationUrl/account/ledgerreport?bookingtype=flight" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-plane"></span> Flight</a>
                                                <a href="@lu.ApplicationUrl/account/ledgerreport?bookingtype=hotel" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-hotel"></span> Hotel</a>
                                                <a href="@lu.ApplicationUrl/account/ledgerreport?bookingtype=bus" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-credit-card"></span> Bus</a>
                                                <a href="@lu.ApplicationUrl/account/ledgerreport?bookingtype=rail" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-train"></span> Rail</a>
                                                <a href="@lu.ApplicationUrl/account/ledgerreport?type=passbook" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-address-card-o"></span> Passbook</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "Select From - dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "Select To - dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.Price, new { @class = "form-control", placeholder = "Serch by price", onkeypress = "return isNumberValidationPrevent(event);" })
                                            </div>


                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Serch by order id" })
                                            </div>


                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.AirLine, new { @class = "form-control", placeholder = "Serch by airline code" })
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:1px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:1px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>

                                            </div>
                                            @*<div class="col-sm-3">
                                                <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:1px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                                            </div>*@
                                        </div>
                                    </div>

                                }
                            </div>

                            @if (string.IsNullOrEmpty(Model.Passbook))
                            {
                                if (Model.Totalcount > 0)
                                {
                                    foreach (var item in Model.AccountLedgerReportList)
                                    {

                                        <div class="container wrapper">
                                            <div class="form-group">
                                                <div class="col-sm-12 form-group" style="border-bottom: 1px solid #ccc;">
                                                    <div class="col-sm-4">
                                                        <label>Order No : <span style="color:red"><a href="@item.InvoiceUrl" data-toggle="tooltip" title="View Invoice" target="_blank" style="font-weight:bold;color:indianred">@item.InvoiceNo</a></span></label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label style="color: #797676;">Closing Balance: <span>Rs @item.Aval_Balance</span></label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="pull-right"><span>@item.CreateDate</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <div class="col-sm-4" style=" margin-top: 3px;">
                                                        @if (item.BookingType.Trim() == "Payment Receipt")
                                                        {
                                                            <img src="~/Content/images/payRecipt.jpg" class="imglogo"> <span>@item.BookingType</span>
                                                        }
                                                        @if (item.BookingType.Trim() == "Journal Voucher")
                                                        {
                                                            <img src="~/Content/images/jenralvoucher.png" class="imglogo"> <span>@item.BookingType</span>
                                                        }
                                                        @if (item.BookingType.Trim() == "PG UPLOAD-CREDIT")
                                                        {
                                                            <img src="~/Content/images/payUpload.jpg" class="imglogo"> <span>@item.BookingType</span>
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.TicketingCarrier) && item.BookingType != "Payment Receipt" && item.BookingType != "Journal Voucher" && item.BookingType != "PG UPLOAD-CREDIT")
                                                        {
                                                            if (!string.IsNullOrEmpty(item.TicketingCarrier.Trim()))
                                                            {
                                                                <img src="@item.LogoUrl" class="imglogo"> <span>@item.BookingType</span>
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/images/NoImage.png" class="imglogo"> <span>@item.BookingType</span>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">

                                                        @if (item.Credit == "0.00")
                                                        {
                                                            <p class="debit pull-right">Debit</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="credit pull-right">Credit</p>
                                                        }
                                                    </div>
                                                    <div class="col-sm-4 pull-right">
                                                        @if (item.Credit == "0.00")
                                                        {
                                                            <p class="pull-right pricecolr">Rs <span class="fa fa-minus" style="color:red;font-size: 11px;"></span> @item.Debit</p>

                                                        }
                                                        else
                                                        {
                                                            <p class="pull-right pricecolr">Rs <span class="fa fa-plus" style="color:green;font-size: 11px;"></span> @item.Credit</p>

                                                        }
                                                        @if (item.PaidStatus == "True")
                                                        {<span class="paidstatus">Paid</span> }
                                                        else
                                                        {<span class="unpaidstatus">Unpaid</span>}
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="border-top: 1px solid #ccc; padding: 4px;">
                                                    <div class="col-sm-4">
                                                        <label>PNR No : <span style="color:red"><a href="@item.InvoicecopyLink" data-toggle="tooltip" title="View Ticket Copy" style="font-weight:bold;color:indianred" target="_blank">@item.PnrNo</a></span></label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>
                                                            Ticket No : @if (!string.IsNullOrEmpty(item.TicketNo))
                                                            {<span>@item.TicketNo</span>}
                                                            else
                                                            {<span>---</span>}
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>
                                                            Air Code : @if (!string.IsNullOrEmpty(item.TicketingCarrier))
                                                            {<span>@item.TicketingCarrier</span>}
                                                            else
                                                            {<span>---</span>}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-sm-12 form-group boxledger">
                                        <div class="form-group">
                                            <div class="col-sm-12 form-group">
                                                <h4 class="text-danger text-center" style="margin-bottom: -7px;">No rocord found !..</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-sm-12 container wrapper" style=" max-height: 450px;">
                                    <table class="table table-bordered table-hover" data-toggle="table">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="sticky-header">ORDER NO (Invoice)</th>
                                                <th class="text-center">PNR(TicketCopy)</th>
                                                <th>AGENCY ID</th>
                                                <th>AGENCY NAME</th>
                                                <th>AIR CODE</th>
                                                <th>TICKET NO</th>
                                                <th>DR.</th>
                                                <th>CR.</th>
                                                <th>BALANCE</th>
                                                <th>BOOKING TYPE</th>
                                                <th>CREATED DATE</th>
                                                <th>REMARK</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align:center;">
                                            @if (Model.Totalcount > 0)
                                            {
                                                foreach (var item in Model.AccountLedgerReportList)
                                                {
                                                    <tr>
                                                        <td class="sticky-row"><a href="@item.TicketcopyLink" target="_blank" style="font-weight:bold;color:indianred">@item.InvoiceNo</a></td>
                                                        <td><a href="@item.InvoicecopyLink" style="font-weight:bold;color:indianred" target="_blank">@item.PnrNo</a></td>
                                                        <td>@item.AgentID</td>
                                                        <td>@item.AgencyName</td>
                                                        <td>@item.Aircode</td>
                                                        <td>@item.TicketNo</td>
                                                        <td>@item.Debit</td>
                                                        <td>@item.Credit</td>
                                                        <td>@item.Aval_Balance</td>
                                                        <td>@item.BookingType</td>
                                                        <td>@item.CreateDate</td>
                                                        <td>@item.Remark</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }

                        </section>
                    </div>
                </div>
            </section>
            }
        </div>
</div>
<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

