﻿@model ModelLibrary.AccountLedgerReport
@{
    ViewBag.Title = "StaffTransaction";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="col-md-12">
    <div class="x_panel">
       
        <div class="x_content">

            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-user-alt-3"></i>  Staff Transaction List

                            </header>
                            <div class="panel-body" style="padding:15px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "Select From - dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">

                                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "Select To - dd/mm/yyy" })
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:1px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:1px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                            @*<div class="col-sm-3">
                                            <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:1px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                                        </div>*@
                                        </div>
                                    </div>

                                    @*<div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                            <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                                        </div>
                                    </div>
                                </div>*@
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </section>


            <section class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <i class="icofont-search-document"></i>  Report
                                <span class="tools pull-right">


                                    @using (Html.BeginForm(@*"action method", "Controllername", FormMethod.Post*@))
{
        <button style="cursor:pointer;"><span class="icofont-file-excel"></span> EXPORT</button>
    }
                                </span>
                            </header>
                            <div class="panel-body table-responsive" style="overflow:scroll;">
                                <table class="table table-collapse-phone" cellspacing="0" width="100%" ShowHeaderWhenEmpty="true">
                                    <thead style="color: #131313;background: #ececec;">
                                        <tr>
                                            <th class="sticky-col first-col">Order Id</th>
                                            <th>Service Type</th>
                                            <th>Module</th>
                                            <th>Trans. Amount</th>
                                            <th>Booked By</th>
                                            <th>Mobile</th>
                                            <th>Agency Id</th>
                                            <th>Remark</th>
                                            <th>Created Date</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Balance</th>
                                            <th>Agent Mobile</th>
                                            <th>Email</th>
                                            <th>Staff Id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Totalcount > 0)
                                        {
                                            foreach (var item in Model.AccountLedgerReportList)
                                            {
                                                <tr>
                                                    <td class="sticky-col first-col"> <a href="#" style="color:red;font-weight:bold;">@item.OrderId</a></td>
                                                    <td>@item.ServiceType</td>
                                                    <td>@item.Module</td>
                                                    <td>@item.TransAmount</td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.CreatedBy))
                                                        {
                                                            <span>@item.CreatedBy</span>
                                                        }
                                                        else
                                                        {
                                                            <span>---</span>
                                                        }
                                                    </td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.AgencyID</td>
                                                    <td>@item.Remark</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.Debit</td>
                                                    <td>@item.Credit</td>
                                                    <td>@item.AvalBal</td>
                                                    <td>@item.AgentMobile</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.StaffId</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </section>
                        </div>
                    </div>
                </section>
                    </div>
                </div>
        </div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>



